<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title></title>
</head>

<body>
	
	<form th:action="@{/weatherSearch}" method="get">
		<input type="text" name="searchId">
		<button type="submit" name="search">検索</button>
	</form>

	<table>
		<tr th:each="data : ${weatherDataList}">
			<td th:text="${data.location_id}"></td>
			<td th:text="${data.name}"></td>
			<td th:text="${data.temperature}"></td>
			<td th:text="${data.humidity}"></td>
			<td th:text="${data.date_time}"></td>
		</tr>
	</table>

	<div th:if="@{/weatherSearch}">
		<form th:action="@{/weatherLst}">
			<button type="submit" name="return">戻る</button>
		</form>
	</div>
	
</body>

</html>