<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<p>
		<span th:text="${weather}">天気記録の新規</span>
	</p>

		<form th:action="@{/weatherAddProcess}" method="post" th:object="${weather}">
		Location ID: <input type="text" th:field="*{location_id}" /><br />
		Name: <input type="text" th:field="*{name}" /><br />
		Temperature: <input type="text" th:field="*{temperature}" /><br />
		Humidity: <input type="text" th:field="*{humidity}" /><br />

		<button type="submit">保存</button>
	</form>

</body>

</html>